{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<!-- Css para el formulario wizard -->
<link href="{% static 'core/css/jquery.steps.css' %}" rel="stylesheet">
<link href="{% static 'core/css/steps.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block heading %}Nueva sucursal{% endblock %}
{% block content %}
{% include "components/sucursales/sucursal-create.html" %}
{% endblock content %}

{% block extra_js %}
<script src="{% static 'core/js/jquery.formset.js' %}"></script>
{% endblock %}